Vagrant.configure("2") do |config|

  config.vm.box = "pwt"
  config.vm.network :private_network, autostart: true, ip: "192.168.121.100"
  config.vm.network "forwarded_port", guest: 1337, host: 1337
  config.vm.network "forwarded_port", guest: 8443, host: 8443
  config.vm.network "forwarded_port", guest: 2049, host: 2049
  # config.vm.synced_folder "/path/to/pwt.git/rlyeh", "/srv"
  config.vm.synced_folder ".", "/vagrant", disabled: true

  config.vm.provider :libvirt do |lv|
    lv.memory = 4096
    lv.storage :file, size: "8G", type: "qcow2", serial: "528362"
    lv.storage :file, size: "8G", type: "qcow2", serial: "987893"
    lv.storage :file, size: "8G", type: "qcow2", serial: "119344"
    lv.storage :file, size: "8G", type: "qcow2", serial: "645165"
  end
end
